@import "../../App.scss";

.header {
 font-family: $font-family-monospace;
 background: $secondary-color;
 height: 90px;
 width: 100%;
 display: flex;
 justify-content: space-between;
 margin-bottom: 30px;


 .logo-container {
  height: 100%;
  width: 70px;

  // padding: 25px;
  img {
   height: 90px;
   width: 90px;
  }
 }

 .navigators {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .navigator {
   padding: 10px 15px;
   cursor: pointer;
   color: $text-color;
   text-decoration: none;
  }
 }

}