@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque|Poiret+One&display=swap');

$primary-color: #FBF9FA;
$secondary-color:#FD0054;
$text-color: #2B2024;
$font-family-monospace: 'Poiret One';

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}